{% load templateutils %}

<script type="text/javascript">
  {% autoescape off %}
    itemsFilterInfo = {{request.GET.filter | emptydict}}
    itemsOrderByInfo = {{request.GET.order_by | emptylist}}
  {% endautoescape %}
</script>

{% for product in objs %}
  <div class="card product-item">
    <div class="card-header product-header" role="tab" id="product-{{forloop.counter0}}-header">
      <div class="row">
        <div class="col-4">
          <a data-toggle="collapse" href="#product-{{forloop.counter0}}-body" aria-expanded="true" aria-controls="product-{{forloop.counter0}}-body">
            {{product.title}}
          </a>
        </div>
        <div class="col-2">
          <div class="progress status-progress">
            <div class="status-progress-hint-low" style="left: 20%"></div>
            <div class="status-progress-hint-high" style="left: 80%"></div>
            <div class="progress-bar bg-success" role="progressbar" style="width: {% widthratio product.count 1 10 %}%;" aria-valuenow="{% widthratio product.count 1 10 %}" aria-valuemin="0" aria-valuemax="100" title="20 / 63 / 80"></div>
          </div>
        </div>
        <div class="col-2 product-count product-{{forloop.counter0}}-count">
          {{product.count}} шт
        </div>
        <div class="col-2 product-delivery_date product-{{forloop.counter0}}-delivery_date">
          {{product.delivery_date|date:"d.m.Y"}}
        </div>
        <div class="col-2 product-tags product-{{forloop.counter0}}-tags">
          {% for tag in product.tags.all %}
            <button role="button" class="btn btn-secondary btn-sm tag-button">
              {{tag}}
            </button>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="product-{{forloop.counter0}}-body" class="collapse product-body" role="tabpanel" aria-labelledby="product-{{forloop.counter0}}-header" data-parent="#accordion">
      <div class="card-body">
        <img src="http://www.3kol.tv/assets/memes_tpl/mini/mini_Doge.jpg">
        Ты долбоёб?
      </div>
    </div>
  </div>
{% endfor %}