{% extends "main.html" %}
{% load staticfiles %}

{% block head_base_override  %}
  <link href="{% static "css/shop/products.css" %}" rel="stylesheet">
  <script type="text/javascript" src="{% static "js/shop/items.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="card text-white bg-secondary product-items-header">
    <div class="card-header product-items-header-header" role="tab" id="product-items-header-header">
      <div class="row">
        <div class="col-5">
          Наименование
        </div>
        <div class="col-1">
          Статус
        </div>
        <div class="col-1">
          Кол-во
        </div>
        <div class="col-2">
          Завоз
        </div>
        <div class="col-2">
          Теги
        </div>
      </div>
    </div>
  </div>

  <div class="product-items-container items-container" id="items-container-wrapper">
    <center>
      <img id="items-loading-img" style="display:none" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
    </center>
    <div id="items-container-loading-error" class="alert alert-danger" style="display:none" >
      <h5 class="alert-heading">Произошла ошибка</h5>
      <span class="item-container-loading-error-desc"></span>
    </div>
    <div class="product-items-container items-container" id="items-container">
      {% include "shop/products_items.html" with objs=products %}
    </div>
  </div>

  <button role="button" onclick="request_items('product', 'shop/products_items.html', {})" class="btn btn-dark">
    <span class="oi oi-reload" title="Черновик" aria-hidden="true"></span>
  </button>

{% endblock %}
