{% extends "main.html" %}
{% load staticfiles %}

{% block head_base_override  %}
  <link href="{% static "css/shop/products.css" %}" rel="stylesheet">
  <script type="text/javascript" src="{% static "js/chartjs/Chart.bundle.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/shop/items.js" %}"></script>
  <script type="text/javascript" src="{% static "js/shop/charts.js" %}"></script>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    itemsModelName = 'product'
    productChartsData = {
        "-6624811988717334448": {
          num_history: 2,
          data: [1, 2, 3, 2, 3, 4, 5, 3]
        }
    }
    shop_id = {{shop_id}}
    // itemsTemplate = 'shops/products_items.html'
  </script>
  <div class="card text-white bg-secondary product-items-header">
    <div class="card-header product-items-header-header" role="tab" id="product-items-header-header">
      <div class="row">
        <div class="col-4 item-header item-header-title">
          Наименование
          <span class="sort-items-pair" column="title">
            <span class="oi oi-caret-bottom sort-icon sort-icon-desc" order="desc" title="Отсортировать по убыванию" aria-hidden="true" column="title"></span>
            <span class="oi oi-caret-top sort-icon sort-icon-asc" order="asc" title="Отсортировать по возрастанию" aria-hidden="true" column="title"></span>
          </span>
        </div>
        <div class="col-2 item-header item-header-status">
          Статус
        </div>
        <div class="col-2 item-header item-header-count">
          Кол-во
          <span class="sort-items-pair" column="count">
            <span class="oi oi-caret-bottom sort-icon sort-icon-desc  order="desc"sort-icon" title="Отсортировать по убыванию" aria-hidden="true" column="count"></span>
            <span class="oi oi-caret-top sort-icon sort-icon-asc" order="asc" title="Отсортировать по возрастанию" aria-hidden="true" column="count"></span>
          </span>
        </div>
        <div class="col-2 item-header item-header-delivery_date">
          Завоз
          <span class="sort-items-pair" column="delivery_date">
            <span class="oi oi-caret-bottom sort-icon sort-icon-desc  order="desc"sort-icon" title="Отсортировать по убыванию" aria-hidden="true" column="delivery_date"></span>
            <span class="oi oi-caret-top sort-icon sort-icon-asc" order="asc" title="Отсортировать по возрастанию" aria-hidden="true" column="delivery_date"></span>
          </span>
        </div>
        <div class="col-2 item-header item-header-tags">
          Теги
        </div>
      </div>
    </div>
  </div>

  <div class="product-items-container items-container" id="items-container-wrapper">
    <center>
      <img id="items-loading-img" style="display:none" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
    </center>
    <div id="items-container-loading-error" class="alert alert-danger" style="display:none" >
      <h5 class="alert-heading">Произошла ошибка</h5>
      <span class="item-container-loading-error-desc"></span>
    </div>
    <div class="product-items-container items-container" id="items-container">
      {% include "shop/products_items.html" with objs=products %}
    </div>
  </div>

  <button role="button" onclick="request_items('product', 'shop/products_items.html', {})" class="btn btn-dark">
    <span class="oi oi-reload" title="Черновик" aria-hidden="true"></span>
  </button>

{% endblock %}
