{% load templateutils %}

<script type="text/javascript">
  {% autoescape off %}
    itemsFilterInfo = {{request.GET.filter | emptydict}}
    itemsOrderByInfo = {{request.GET.order_by | emptylist}}
  {% endautoescape %}
</script>

{% for provider in objs %}
  <div class="card provider-item">
    <div class="card-header provider-header" role="tab" id="provider-{{forloop.counter0}}-header">
      <div class="row">
        <div class="col-6">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#provider-{{forloop.counter0}}-body" aria-expanded="true" aria-controls="provider-{{forloop.counter0}}-body">
              {{provider.title}}
            </a>
          </h5>
        </div>
        <div class="col-2">
          {% if provider.last_delivery_time %}
            {{provider.last_delivery_time|date:"d.m.Y"}}
          {% else %}
            &mdash;
          {% endif %}
        </div>
        <div class="col-2">
            {{provider.regularit}}
        </div>
        <div class="col-2">
          {% if provider.next_delivery_time %}
            {{provider.next_delivery_time|date:"d.m.Y"}}
          {% else %}
            &mdash;
          {% endif %}
        </div>
      </div>
    </div>

    <div id="provider-{{forloop.counter0}}-body" class="collapse provider-body" role="tabpanel" aria-labelledby="provider-{{forloop.counter0}}-header" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h5>Закупаемые товары</h5>
            {%for product in provider.products.all%}
              <button role="button" class="btn btn-light">{{product.title}}</button>
            {% endfor %}
          </div>
          <div class="row">
            <table class="table">
              <tr>
                <th>
                  Период доставки
                </th>
                <th>
                  Последний заказ
                </th>
                <th>
                  Последний чек
                </th>
              </tr>
              <tr>
                <td>
                  {{provider.delivery_period}}
                </td>
                <td>
                  {% if provider.last_delivery_date %}
                    {{provider.last_delivery_date}}
                  {% else %}
                    &mdash;
                  {% endif %}
                </td>
                <td>
                  {{provider.last_cost}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}