{% extends "main.html" %}
{% load staticfiles %}

{% block head_base_override  %}
  <link href="{% static "css/shop/purchases.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  {% for purchase in purchases %}
    <div class="product card" style="width: 20rem;">
      <img class="card-img-top" src="http://www.3kol.tv/assets/memes_tpl/mini/mini_Doge.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ purchase.product.title }} {{ purchase.price }} {{ purchase.dt }}</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
