{% load bootstrap4 %}
{% load staticfiles %}

<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link href="{% static "/css/open-iconic/open-iconic-bootstrap.css" %}" rel="stylesheet">
  <link href="{% static "css/shop/base.css" %}" rel="stylesheet">
  <script src="{% static "js/query.js" %}"></script>
  {% block head_base_override %}{% endblock %}
</head>
<body>
  <header class="header container-fluid">
    <ul class="nav base-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="/">
          <span class="oi oi-cart" title="logo" aria-hidden="true"></span>
          Evorot
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Магазин</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/products">Товары</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/providers">Поставщики</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/purchases">Поставки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop/dicks">Вкусные хуи</a>
      </li>
    </ul>
  </header>
  <div class="main">
      {% block content_base %}{% endblock %}
  </div>
</body>
</html>
